.mainSection {
    height: 100%;
    display: grid;
}

.codingSection {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.editor {
    height: 100%;
    z-index: 10;
}

#runButton {
	color: white;
	background-color: #303030;
	margin-top: 10px;
	margin-left: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#stopButton {
	color: white;
	background-color: #303030;
	margin-top: 10px;
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}